nav {
  display: flex;
  height: 10vh;
  align-items: center;
}
h1 {
  font-weight: bold;
}
#icon{
  height: 6vh;
  margin-right: .5rem;
}
.logo{
  display: flex;
  align-items: center;
}
ul {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}