<h2>Search</h2>
<form [formGroup]="form">
  <label>Region: </label>
  <select id="regionSelect" (change) = "searchByRegion($event.target)">
    <option *ngFor="let region of regionList" [ngValue]="region">
      {{region}}
    </option>
  </select>
</form>
<div class="results card" (click)="navigateToDetail($event.target)">
  <h3 class="card-header">Results</h3>
  <ul class="list-group list-group-horizontal" 
  *ngFor="let result of resultList" [id]="result.id">
    <li class="list-group-item flex-fill">{{result.name}}</li>
    <li class="list-group-item">{{result.region | getRegionName}}, {{result.country | getCountryName}}</li>
  </ul>
</div>