<h2>Search</h2>
<form [formGroup]="form">
  <label>Country: </label>
  <select  id="countrySelect" (change)="searchByCountry($event.target)">
    <option *ngFor="let country of countryList" [ngValue]="country">
      {{country}}
    </option>
  </select>
  <label>Region: </label>
  <select id="regionSelect" (change) = "searchByRegion($event.target)">
    <option *ngFor="let region of regionList" [ngValue]="region">
      {{region}}
    </option>
  </select>
</form>
<div class="results" (click)="navigateToDetail($event.target)">
  <h3>Results</h3>
  <div class="resultCard" *ngFor="let result of resultList" [id]="result.id">
    <p>{{result.name}}</p>
    <p>{{result.region | getRegionName}}, {{result.country | getCountryName}}</p>
  </div>
</div>