<div class="grid">
  <div class="col">
    <h2>{{name}}</h2>
    <h4>{{region | getRegionName}}, {{country | getCountryName}}</h4>
    <div class="snow-report">
      <h6>Snowfall</h6>
      <ul>
        <li>Base: {{conditions.base}}"</li>
        <li>Season: {{conditions.season}}"</li>
        <li>Last 24 hours: {{conditions.dayTotal}}"</li>
        <li>Last 7 days: {{conditions.weekTotal}}"</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="lifts">
      <p>Lifts: {{liftsOpen}}/{{liftsTotal}}</p>
      <div class="lift-list">
        <div *ngFor="let lift of lifts">
          {{lift.name}} : {{lift.status}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="twitter">
      <p>Twitter: @{{twitterUser}}</p>
    
      <ngx-twitter-tweet *ngFor="let tweet of tweets; index as i"
      [tweetID]="tweets[i].id_str"
      [options]="{ size: 'small'}">
      </ngx-twitter-tweet>
    </div>
  </div>
</div>


