<div class="banner">
  <h2>{{name}}</h2>
  <h3 id="location">{{region | getRegionName}}, {{country | getCountryName}}</h3>
</div>
<div class="grid">
  <div class="col">
    <div class="snow-report card">
      <div class="card-header">Snow Report</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Base: {{conditions.base}}"</li>
        <li class="list-group-item">Season: {{conditions.season}}"</li>
        <li class="list-group-item">Last 24 hours: {{conditions.dayTotal}}"</li>
        <li class="list-group-item">Last 7 days: {{conditions.weekTotal}}"</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="lifts card">
      <div class="card-header">Lifts: {{liftsOpen}}/{{liftsTotal}}</div>
      <ul class="list-group list-group-flush" id="lift-list">
        <li *ngFor="let lift of lifts" class="list-group-item {{lift.style}}">
          {{lift.name}} : {{lift.status | uppercase}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="twitter card">
      <div class="card-header">Twitter: @{{twitterUser}}</div>
      <div class="card-body">
        <ngx-twitter-tweet *ngFor="let tweet of tweets; index as i"
        [tweetID]="tweets[i].id_str"
        [options]="{ size: 'small'}">
        </ngx-twitter-tweet>
      </div>
    </div>
  </div>
</div>


